:root {
    --main-color: #ff006d;
    --black: black;
    --white: white;
    --grey: #646464;
    --light-dark: #181818;
}

.textAlign--Center {
    text-align: center;
}

.grid--center {
    display: grid;
    place-items: center;
}

.grid {
    display: grid;
}

.p {
    border: 2px solid red;
}