.navbar {

    height: 10vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
    background-color: #202020;
    border-bottom: 2px solid black;


}

.nav--logo {
    color: var(--main-color);
    font-size: 4rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    font-weight: 200;
}

.btn__login {
    width: 8rem;
    background-color: var(--main-color);
    font-size: 1.5rem;
    border: none;
    text-transform: capitalize;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
    color: var(--white);
    padding: 1rem;
}

.btn__login:hover {
    cursor: pointer;
}

.searchbar__input {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    height: 4rem;
    background: #181818;
    border: none;
    color: var(--white);
    outline: none;
    border-radius: 2px;
    padding: 1rem;


}

.searchbar {
    width: 100%;
    position: relative;

}

.image__LandingPage {
    height: 90vh;
    object-fit: cover;
    width: 100vw;
    filter: blur(3px);
    position: absolute;

}

.heading__landingPage {
    position: relative;
    color: white;
    height: 90vh;
    width: 100vw;
    display: grid;
    place-items: center;
    z-index: 1;
    font-size: 6rem;

}

.heading__landingPage h2 {
    font-weight: 300;
}

.btn__landingPage {
    height: 8rem;
    width: 55rem;
    background-color: #ff006d;
    font-size: 2rem;
    border: none;
    letter-spacing: 1rem;
    text-transform: capitalize;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
    color: whitesmoke;
}

.btn__landingPage:hover {
    cursor: pointer;
}

.searchbar__icon {
    position: absolute;
    color: white;
    top: 1rem;
    right: 1rem;
}